<form #addForm="ngForm">
  <table>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Tipo" required [(ngModel)]="bicicleta.tipo" name="tipo" #tipo="ngModel" />
          <md-error *ngIf="!tipo.valid && !tipo.pristine">
            Ingrese un tipo de bicicleta valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Color" required [(ngModel)]="bicicleta.color" name="Color" #color="ngModel" />
          <md-error *ngIf="!color.valid && !color.pristine">
            Ingrese un color valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Numero de cambios" required [(ngModel)]="bicicleta.cambios" name="Cambios" #cambios="ngModel"
          />
          <md-error *ngIf="!cambios.valid && !cambios.pristine">
            Ingrese un numero de cambios valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-select placeholder="Talla" required [(ngModel)]="bicicleta.talla" name="talla" #talla="ngModel">
          <md-option *ngFor="let talla of tallaList" [value]="talla.value">
            {{ talla.label }}
          </md-option>
        </md-select>
        <md-error *ngIf="!talla.valid">
          ingrese una talla valida
        </md-error>
      </td>
    </tr>
    <tr>
      <td>
        <br/>
        <md-radio-group name="Medida del Rin" required class="bicicletas-radio-group" [(ngModel)]="bicicleta.rin" #rin="ngModel">
          <md-radio-button required class="bicicletas-radio-group" *ngFor="let rinOption of rinOptionsList" [value]="rinOption.value">
            {{rinOption.label}}
          </md-radio-button>
        </md-radio-group>
        <md-error *ngIf="!rin.valid">
          Ingrese una medida de rin valida
        </md-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <br/>
        <div class="button-row">
          <button md-raised-button color="primary" (click)="onNewCustomer()">
            New
          </button>
          <button md-raised-button color="primary" [disabled]="!addForm.valid" (click)="onSaveCustomer()">
            Save
          </button>
        </div>
      </td>
    </tr>
  </table>
</form>