<form #addForm="ngForm">
  <table>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Nombre" required [(ngModel)]="customer.name" name="name" #name="ngModel" />
          <md-error *ngIf="!name.valid && !name.pristine">
            Ingrese un nombre valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Direccion" required [(ngModel)]="customer.address" name="address" #address="ngModel" />
          <md-error *ngIf="!address.valid && !address.pristine">
            Ingrese una direccion valida
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-select placeholder="Estrato" required [(ngModel)]="customer.stratum" name="stratum" #stratum="ngModel">
          <md-option *ngFor="let stratum of stratumList" [value]="stratum.value">
            {{ stratum.label }}
          </md-option>
        </md-select>
        <md-error *ngIf="!stratum.valid">
          Ingrese un estrato valido
        </md-error>
      </td>
    </tr>
    <tr>
      <td>
        <br/>
        <md-radio-group required class="customer-radio-group" [(ngModel)]="customer.gender" name="Genero" #gender="ngModel">
          <md-radio-button required class="customer-radio-button" *ngFor="let genderOption of genderOptionsList" [value]="genderOption.value">
            {{genderOption.label}}
          </md-radio-button>
        </md-radio-group>
        <md-error *ngIf="!gender.valid">
          Ingrese un genero valido
        </md-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <br/>
        <div class="button-row">
          <button md-raised-button color="primary" (click)="onNewCustomer()">
            Nuevo
          </button>

          <button md-raised-button color="primary" [disabled]="!addForm.valid" (click)="onSaveCustomer()">
            Guardar
          </button>
        </div>
      </td>
    </tr>
  </table>
</form>