<form #addForm="ngForm">
  <table style="width:100%">
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Name" required [(ngModel)]="registro.name" name="Name" #name="ngModel" />
          <md-error *ngIf="!name.valid && !name.pristine">
            Ingrese un nombre valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Correo" required [(ngModel)]="registro.correo" name="Correo" #correo="ngModel" />
          <md-error *ngIf="!correo.valid && !correo.pristine">
            Ingrese un correo valido
          </md-error>
        </md-form-field>
      </td>
      <td>
        <md-form-field>
          <input mdInput placeholder="Telefono" required [(ngModel)]="registro.telefono" name="telefono" #telefono="ngModel" />
          <md-error *ngIf="!telefono.valid && !telefono.pristine">
            Ingrese un telefono valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
        <br/>
        <md-radio-group required class="registro-radio-group" [(ngModel)]="registro.ciclista" name="ciclista" #ciclista="ngModel">
          <md-radio-button required class="registro-radio-button" *ngFor="let registroOption of registroOptionsList" [value]="registroOption.value">
            {{registroOption.label}}
          </md-radio-button>
        </md-radio-group>
        <md-error *ngIf="!registro.valid">
          Es usted ciclista?
        </md-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <br/>
        <div class="button-row">
          <button md-raised-button color="primary" (click)="onNewRegistro()">
              Nuevo
          </button>

          <button md-raised-button color="primary" [disabled]="!addForm.valid" (click)="onSaveRegistro()">
              Guardar
            </button>
        </div>
      </td>
    </tr>
  </table>
</form>