<form #addForm="ngForm">
  <table>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Producto" required [(ngModel)]="comida.producto" name="Producto" #producto="ngModel" />
          <md-error *ngIf="!producto.valid && !producto.pristine">
            Ingrese un producto valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field>
          <input mdInput placeholder="Valor" required [(ngModel)]="comida.valor" name="Valor" #valor="ngModel" />
          <md-error *ngIf="!valor.valid && !valor.pristine">
            Ingrese un valor valido
          </md-error>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-select placeholder="Cantidad" required [(ngModel)]="comida.cantidad" name="Cantidad" #cantidad="ngModel">
          <md-option *ngFor="let cantidad of cantidadList" [value]="cantidad.value">
            {{ cantidad.label }}
          </md-option>
        </md-select>
        <md-error *ngIf="!cantidad.valid">
          Ingrese una cantidad valida
        </md-error>
      </td>
    </tr>
    <tr>
      <td>
        <br/>
        <md-radio-group required class="comida-radio-group" [(ngModel)]="comida.tipo" name="Tipo de comida" #tipo="ngModel">
          <md-radio-button required class="comida-radio-group" *ngFor="let tipoOption of tipoOptionsList" [value]="tipoOption.value">
            {{tipoOption.label}}
          </md-radio-button>
        </md-radio-group>
        <md-error *ngIf="!tipo.valid">
          Ingrese un tipo de comida valida
        </md-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <br/>
        <div class="button-row">
          <button md-raised-button color="primary" (click)="onNewComida()">
              Nuevo
          </button>
          <button md-raised-button color="primary" [disabled]="!addForm.valid" (click)="onSaveComida()">
              Guardar
            </button>
        </div>
      </td>
    </tr>
  </table>
</form>